page-login{
	background: white;
}
h1, h2{
	text-align: center;
}
img{
	display: block;
	margin: auto;
	padding-top:10%;
}
.button{
	/*margin:14%;*/
}

#loginTwitter {
	background: #83B0FF;
	color: #FFFFFF;
}
#loginFacebook {
	background: #1464DB;
	color: #FFFFFF;
}
#loginGooglePlus {
	background: #F53535;
	color: #FFFFFF;
}
#loginGithub {
	background:	#000000;
	color: #FFFFFF;
}
